{% extends 'base.html.twig' %}

{% block title %}My account - Menu Food App{% endblock %}

{% block body %}
    <h2>My account </h2>
    Welcome to your member area {{ app.user.firstname }}.
    <hr>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="list-group">
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin') }}" class="list-group-item list-group-item-action">
            Admin Panel
        </a>
        {% endif %}
        <a href="{{ path('account_orders') }}" class="list-group-item list-group-item-action">
            My orders
        </a>
        <a href="{{ path('account_address') }}" class="list-group-item list-group-item-action">
            Manage my addresses
        </a>
        <a href="{{ path('account_password') }}" class="list-group-item list-group-item-action">
            Change password
        </a>
    </div>


{% endblock %}
