{% extends 'base.html.twig' %}

{% block title %} My Order - Food menu app{% endblock %}

{% block body %}
    <h2>confirmation of your order</h2>
    <p>
        Hello {{order.user.firstname}} {{order.user.lastname}}, <br>
        Thank you for your order no. <b>{{order.reference}}</b>.<br>
        A confirmation has just been sent to you by email. <br>
    </p>
    <hr>
    <p>
        Your order will be delivered by{{order.carrierName}} to the following address: <br>
        {{order.delivery|raw}}
    </p>
    <hr>
    <p>
        To track your order, go to your <a href="{{ path('account_orders') }}">account</a>.
    </p>
{% endblock %}
